<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Agenda</title>
</head>
<body>
	<header th:replace="/layouts/header::header"></header>
	<header>
		<h1>Agenda academica</h1>
		<img alt="2023" src="https://st.depositphotos.com/1337322/54375/i/600/depositphotos_543759086-stock-photo-2023-year-number-text-on.jpg" title="2023">
	</header>
	<section>
		<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quis condimentum neque. Fusce malesuada risus molestie diam lobortis, vitae lobortis 
		est pulvinar. Nullam ullamcorper nulla ut velit vehicula, eu laoreet metus pharetra. Quisque aliquet lacinia condimentum. Aenean consequat eros eros, 
		euismod pretium sapien elementum a. Suspendisse nec dolor augue. Aenean sit amet nisi vel justo malesuada mattis. Donec non laoreet sapien. Donec porttitor, 
		nisl eu sodales dapibus, purus turpis imperdiet eros, nec sollicitudin diam purus eget ipsum. Sed feugiat auctor felis sit amet imperdiet. Aenean vitae quam 
		aliquam urna accumsan imperdiet. Integer varius non diam et accumsan. Pellentesque sit amet leo scelerisque, vulputate sem a, sagittis mi.
		</p>
	</section>
	<div>
		<video src="C:\Users\mario\git\TP4_Cancinos\TP4_Cancinos\src\main\resources\static\videos\agenda_video.mp4" controls></video>
	</div>
	<footer th:replace="/layouts/footer::footer"></footer>
</body>
</html>