<!DOCTYPE html>
<html xmlns:th="http://www.thymelaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Contáctanos</title>
	</head>
	<body>
		<header th:replace="~{/layouts/header :: header}"></header>
		<header>
			<h1>Contáctanos</h1>
			<img alt="imagen para contactarnos xd" src="https://t2.uc.ltmcdn.com/es/posts/0/8/7/como_encontrar_las_mejores_formas_de_contacto_de_las_empresas_50780_orig.jpg">
		</header>
		<form action="" method="">
			<label>Nombre</label>
			<input type="text">
			<br>
			<label>Apellido</label>
			<input type="text">
			<br>
			<label>Provinvia</label>
				<select>
					<option>Seleccione una provincia</option>
					<option>Jujuy</option>
					<option>Salta</option>
					<option>Cordoba</option>
				</select>
			<br>
			<label>Telefono</label>
			<input type="number">
			<br>
			<label>Correo Electrónico</label>
			<input type="email">
			<br>
			<label>Estado Civil</label>
				<br>
				<input type="radio">
				<label>Casado</label>
				<br>
				<input type="radio">
				<label>Soltero</label>
				<br>
				<input type="radio">
				<label>Otro</label>
				<br>
			<label>Mensaje</label>
			<textarea rows="" cols="" ></textarea>
			<br>
			<button>Enviar datos</button>
				
		</form>
		<footer th:replace="~{/layouts/footer::footer}"></footer>
	</body>
</html>