<!DOCTYPE html>
<html xmlns:th="http://www.thymelaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Curso Idiomas</title>
	</head>
	<body>
		<header th:replace="~{/layouts/header::header}"></header>
		<header>
			<h1>Bienvenidos al curso de idiomas</h1>
			<img alt="Idiomas" src="@{/images/idiomas.jpg}">
		</header>
		<section>
			<h2>Cursos disponibles</h2>
			<p>Esta es una seccion donde veremos los diferentes cursos disponibles para la categoria Idiomas</p>
			<table>
				<thead>
					<tr>
						<th>Titulo</th>
						<th>Fecha Inicio</th>
						<th>Horario</th>
						<th>Fecha Fin</th>
						<th>Modalidad</th>
						<th>Docente</th>
						<th>Duracion</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="curso:${curso}">
						<td><p th:text="${curso.titulo}"></p></td>
						<td></td>
						<td></td>
						<td></td>
						<td><p th:text="${curso.modalidad}"></p></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</section>
		<footer th:replace="~{/layouts/footer::footer}"></footer>
	</body>
</html>